@import '~@angular/material/_theming';
@import '~@caiu/common/src/styles';
@import '../../../common';

mat-grid-tile-footer {
  background: rgba(0, 0, 0, 0.9);
}

mat-grid-tile-footer:hover {
  background-color: black ;

  mat-icon{
    line-height: 24px;
    color: $primary-color;
  }

  h3{
    color: $primary-color;
  }
}

h5{
  //font-size: 14pt;
}
h3{
  //font-size: 18pt;
  color: black;
  font-weight: bold;
}

mat-icon{
  line-height: 24px;
  color: white;
}

img {
 width: 100%;
  height: auto;
}

