<mat-card class="collection">
<h4>{{ productName }}</h4>
</mat-card>
<mat-card style="height: 300px;">
  <div class="collection-item flex-container">
    <div class="left">
      <img id="product-image" [src]="productImageSrc" />
      <div id="product-total">
        <p>Total: {{ price | currency:'USD':true:'1.2'  }} ( price * quantity )+ tax</p>
      </div>
    </div>
      <mat-card-content class="flex-item2">
          <div *ngIf="hasProductDescription" id="product-decription" class="product-lookup" style="margin-top: 20px;">
            <p>Product Description: {{ productDescription }} </p>
          </div>
          <div id="product-sku">
          <p>Item Number: {{ sku }} </p>
          </div>
          <div *ngIf="hasSize" class="product-lookup">
          <p>Size: {{ size }} </p>
          </div>
          <div *ngIf="inStock" id="product-instock">
          <p>In Stock: <mat-icon style="color:green; font-size: 12pt;">done</mat-icon></p>
          </div>
        <div *ngIf="!inStock" id="product-outOfStock" >
          <p>In Stock: <b>OUT OF STOCK</b></p>
        </div>
          <div id="product-price">
            <p>Product Price: {{ price | currency:'USD':true:'1.2' }} </p>
          </div>
        <mat-form-field id="quantity-to-order" style="width: 20%;">
          <input matInput type="number" placeholder="Change Quantity" value="1">
          <mat-hint>Quantity in stock: {{ quantityInStock }}</mat-hint>
        </mat-form-field>
        <div id="taxable">
          <p>Tax: calculated Tax</p>
        </div>
      </mat-card-content>
    <mat-card-actions class="flex-item1">
      <button mat-button id="add-to-cart">
        <mat-icon>remove_circle</mat-icon>   Remove Item
      </button>

    </mat-card-actions>
  </div>
</mat-card>
