@import '~@angular/material/_theming';
@import '~@caiu/common/src/styles';
@import '../../../common';
#cart-widget {
    overflow-y: scroll;
    max-height: 720px;
    height: 100%;
}

#add-to-cart {
    background-color: $success-color;
    color: #fff;
    width: 100%;
    padding: 10px 0;
    margin-top: 100%;
    bottom: 0;
    position: fixed;
}