<div id="sq-ccbox" xmlns="http://www.w3.org/1999/html">
  <!--
    You should replace the action attribute of the form with the path of
    the URL you want to POST the nonce to (for example, "/process-card")
  -->
  <form id="nonce-form" novalidate (submit)="onSubmit($event)" [formGroup]="form">
    <table id="payment-table">
      <tbody>
        <tr>
          <td>Card Number:</td>
          <td>
            <mat-form-field style="width: 80%;">
            <input matInput type="number" id="sq-card-number">
            </mat-form-field>
            <!--<div id="sq-card-number"></div>-->
          </td>
        </tr>
        <tr>
          <td> CVV:</td>
          <td>
            <mat-form-field style="width: 80%;">
            <input matInput type="number" id="sq-cvv">
            </mat-form-field>
            <!--<div id="sq-cvv"></div>-->
          </td>
        </tr>
        <tr>
          <td>Expiration Date: </td>
          <td>
            <mat-form-field style="width: 80%;">
            <input matInput type="number" id="sq-expiration-date">
            </mat-form-field>
            <!--<div id="sq-expiration-date"></div>-->
          </td>
        </tr>
        <tr>
          <td>Postal Code:</td>
          <td>
            <mat-form-field style="width: 80%;">
            <input matInput type="number" id="sq-postal-code">
            </mat-form-field>
            <!--<div id="sq-postal-code"></div>-->
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button mat-button id="sq-creditcard" style="" onclick="requestCardNonce(event)">
            Use this credit / debit card
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!--
      After a nonce is generated it will be assigned to this hidden input field.
    -->
    <input type="hidden" id="card-nonce" formControlName="nonce">
  </form>
</div>
